
body{
 background: #0156FE;
 color: white;
}

#gen-icon{
	display: -webkit-box;
  margin-left: auto;
  max-width: 10%;
  max-height: 10%;
}

.login_form{
 display: flex;
 justify-content: center;
}


#login_botao {
  display: block;
  margin-right: auto;
  margin-left: auto;
}